@use "../lib/scss/vars.scss" as *;

.header {
    display: flex;
    width: 100%;

    > li {
        flex: 1 0 0;

        > button {
            border: none;
            background-color: var(--bg-color-alt);
            width: 100%;
            font-size: 1.5em;

            &.active {
                background-color: $tarkov-text;
                color: $tarkov-tan;
            }

            &:hover:not(.active) {
                filter: brightness(1.2);
            }
        }
    }
}

.itemList {
    overflow-y: auto;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto 0.5rem auto;
}

.itemLine {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1 / -1;
    padding-right: 1rem;
    p {
        margin: 0;
        padding: 0 0.1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &:nth-last-child(3) {
            text-align: right;
            justify-content: flex-end;
        }

        span {
            flex-grow: 1;
        }

        &:nth-last-child(2) {
            width: fit-content;
        }

        &:nth-child(2) {
            padding-left: 0.5rem;
        }

        button {
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            border: none;
            padding: 0.75em;
            font-size: 1.2em;

            &:hover {
                filter: brightness(0.5);
            }

            &:active {
                filter: brightness(0.1);
            }

            &:disabled {
                color: grey !important;
                filter: brightness(1);
            }
        }
    }

    > div:first-child {
        position: relative;
        height: 64px;
        svg {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-20%, -50%);
        }
    }
}

.filterBar {
    display: flex;

    > input[type="text"] {
        flex: 1 1 0;
        border-radius: 0;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0.75em;
    }

    > label {
        height: 100%;
        width: auto;
        margin: 0;
        flex-grow: 1;
        max-width: 2.25rem;
        background-color: transparent;
        position: relative;
        cursor: pointer;

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:hover input ~ span {
        }

        input:checked ~ span {
        }

        span {
            position: absolute;
            display: flex;
            opacity: 0.2;
        }

        input:checked ~ span {
            opacity: 1;
        }

        span {
            align-items: center;
            justify-content: center;
            svg {
                height: 75%;
                width: 75%;
            }
        }
    }
}

.titleBar {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    min-height: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;

    button {
        margin: 0;
        background-color: var(--bg-color-alt);
        border: none;
        box-shadow: 0 0 2px black;
        height: 100%;
        position: relative;

        &:hover {
            filter: brightness(1.2);
        }

        &:last-child {
            grid-column: span 2;
        }
    }

    > div {
        display: flex;
        height: 100%;

        button {
            flex: 1 1 50%;
            svg {
                flex-shrink: 0;
            }
        }
    }
}

.itemDialog {
    background-color: transparent;
    padding: 0;
    background-color: var(--bg-color-alt);

    form {
        display: flex;
        padding: 2rem;
        width: fit-content;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        input[type="number"] {
            width: 5rem;
            padding: 0.5rem;
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: none;
            text-align: center;
        }
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }
}
