@use "/src/lib/scss/vars.scss" as *;

:root {
    --color: #0f0f0f;
    --bg-color: #f6f6f6;
    --bg-color-alt: #ededed;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    color: var(--color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    min-width: 0;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    &:focus {
        outline: none;
    }
}

.tarkov-btn {
    background-color: $tarkov-tan;
    color: $tarkov-text;
    border: none;
    font-size: 1em;

    &:active {
        background-color: $tarkov-tan-lighter;
        outline: $tarkov-text solid 1px;
    }

    &:hover {
        background-color: $tarkov-tan-darker;
    }
}

input[type="text"] {
    padding: 0.5rem;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #f6f6f6;
        --bg-color: #2f2f2f;
        --bg-color-alt: #353535;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }
    button:active {
        background-color: #0f0f0f69;
    }
}
