@use "/src/lib/scss/vars.scss" as *;

.menuBar {
    display: flex;
    flex-direction: row;

    > div {
        z-index: 10;
        > ul {
            display: none;
            position: absolute;
            z-index: 10;
            flex-direction: column;

            backdrop-filter: blur(5px);

            border: 1px solid var(--color);
            border-top: none;

            border-radius: 0 0 0.5rem 0.5rem;

            overflow: hidden;
            background-color: #0f0f0f98;

            > button {
                padding: 0.5rem 1rem;
                background-color: transparent;
                color: var(--color);

                &:hover {
                    background-color: #0f0f0f50;
                }

                &:active {
                    filter: brightness(2);
                }
            }

            > hr {
                width: 100%;
            }
        }

        &:first-child {
            > ul {
                border-left: none;
                border-bottom-left-radius: 0;
            }
        }
    }

    &.show {
        > div:hover {
            > ul {
                display: flex;
            }
        }
    }
}
